<footer class="footer">
  <div class="copyright">
    <p>
      © Copyright 2023, Arabian Center for Climate and Environmental Sciences
      (ACCESS)
    </p>
  </div>
  <div class="contact-privacy">
    <div class="contact-info">
      <p>
        New York University Abu Dhabi<br />Saadiyat Island, Abu Dhabi<br />UAE
      </p>
    </div>
    <div class="privacy-policy">
      <a href="/policy">Privacy Policy</a>
    </div>
  </div>
</footer>
