<!DOCTYPE html>
<html>
  <head>
    <title>Privacy Policy</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #f7f7f7;
      }

      h1 {
        color: #333;
      }

      h2 {
        color: #555;
      }

      p {
        margin-bottom: 20px;
        line-height: 1.5;
      }

      footer {
        margin-top: 50px;
        color: #777;
      }
    </style>
  </head>
  <body>
    <h1>Privacy Policy</h1>

    <h2>Data Collection</h2>
    <p>
      We only collect phone numbers from our users for authentication and
      contact purposes. We do not ask for any other personal information such as
      email addresses, names, or home addresses. The app may also collect data
      from the device's GPS and barometric pressure sensor, but this is entirely
      optional, and users can opt out of data collection at any time.
    </p>

    <h2>Questions?</h2>
    <p>Please visit our center's website to contact us if necessary.</p>

    <footer>
      <p>
        &copy; Copyright 2023, Arabian Center for Climate and Environmental
        Sciences (ACCESS)
      </p>
    </footer>
  </body>
</html>
